.navbar {
    height: 60px;
    background-color: black;
    position: relative;
}

.navbar .container {
    display: flex;
    justify-content: center !important;
}

.menu-icon {
    display: none;
}

.hamburger-icon, .cross-icon {
    margin-top: -16px;
}

.hamburger-icon, .cross-icon svg {
    color: white;
}

.nav-elements {
    line-height: normal;
    margin: auto;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 60px;
    width: auto;
}

.nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.nav-elements ul a.active {
    color: white;
    font-weight: 500;
}

.sign-out {
    color: white;
    display: flex;
    flex-direction: column;
}

.sign-out button {
    margin-left: auto;
    padding: 6px !important;
}


@media (max-width: 768px) {
    .navbar .container {
        display: flex;
        justify-content: space-between !important;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 31px;
        background-color: black;
        color: white !important;
        width: 0px;
        height: calc(100vh - 150px);
        transition: all 0.2s ease-in;
        overflow: hidden;
    }

    .nav-elements.active {
        width: 220px;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        height: 60px;
    }

    .nav-elements ul li a {
        color: white;
    }

    .nav-elements ul a.active {
        color: white;
    }

    .navbar .container {
        display: flex;
        justify-content: space-between !important;
    }

    .sign-out button {
        margin: 5px 30px 5px 5px;
    }
}