main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    width: 120%;
}

.add-buttons {
    padding: 20px;
}

.Home-main {
    padding: 0 20px 20px;
}

.section {
    width: 34%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    max-height: 450px;
    overflow-y: auto;
}

.section h4,p{
    text-align: center;
}

#section1 {
    overflow-y: auto;
}

.section1 .btn {
    width: 100%;
    margin: 0 !important;
    border: 1px solid white !important;
    border-radius: 0 !important;
    background-color: white !important;
    border: 1px solid darkcyan !important;
    border-left-width: 5px !important;
    color: black !important;
}

.section1 .selected {
    border: 1px solid darkred !important;
    border-left-width: 5px !important;
}

.section1-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.menu-item {
    border-radius: 6px;
    padding: 5px;

}

#section2-content .section2-content-buttons {
    display: flex;
    flex-wrap: wrap;
    .section2-content-buttons-btn {
        width: 110px;
        margin: 10px;
        border-radius: 4px;
        padding: 5px;
        min-height: 70px;
        min-width: 94px;
        outline: none;
        font-weight: 550;
        background-color: white !important;
        border: 1px solid green;
        word-wrap: break-word;
        border-left-width: 5px !important;
    }
}

.section3 {
    display: flex;
    flex-direction: column;
}

#section3-content {
    overflow-y: auto;
    height: 390px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .menu-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.increment-decrement-btn {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    border-radius: 4px;
    padding: 0 !important;

    .decrement-btn {
        width: 30%;
        outline: none;
        border: 2px solid red;
        border-radius: 4px;
        background-color: white;
        color: red;
    }

    .decrement-btn:hover {
        color: white;
        background-color: red;
    }

    .increment-btn {
        width: 30%;
        outline: none;
        border: 2px solid green;
        border-radius: 4px;
        background-color: white;
        color: green;
    }

    .increment-btn:hover {
        color: white;
        background-color: green;
    }
}

.addDesc {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.addDesc svg {
    fill: blue;
    margin-bottom: 2px;
}

.addDesc a {
    text-decoration: none;
}

.editDesc {
    cursor: pointer;
}

.editDesc svg {
    fill: #007bff;
    margin-left: 5px;
}

.actions {
    border: 1px solid darkcyan;
    border-left-width: 4px;
    padding: 8px;
    display: flex;
    gap: 5px;
    background-color: white;
}


.selected + .actions {
    border: 1px solid darkred;
    border-left-width: 4px;
}

.btn-delete {
    color: orangered;
}

.displayNone {
    display: none;
}

.col-lg-3 {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: -webkit-fill-available !important;
}

.btn-outline {
    padding: 5px !important;
}

#total-section {
    position: inherit;
    bottom: 75px;
    font-weight: bold;
    text-align: right;
}

.displayTotalBorder {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
}

.table-occupied {
    text-align: center;
    padding: 12px;
    background-color: lightgreen;
}

.table-occupied b {
    color: green;
}

.custom-modal {
    text-align: center;
    margin: auto;
}

.formHeading {
    width: 400px;
    /* color: black;
    font-weight: 600 !important;
    margin-bottom: 0px !important;
    margin-left: -20px !important; */
}

.dashedLines {
    font-weight: bold;
    color: black;
}

.print-subheading {
    font-size: 18px;
    color: black; 
    font-weight: bold !important;
    font-family: monospace;
}

.bill-date, .bill-number {
    font-size: 16px;
    color: black; 
    font-weight: 700;
}

.formInput {
    width: 250px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.formSelectInput {
    width: 250px;
    outline: none;
    font-size: 15px;
    border-radius: 6px;
}

.formBtn {
    outline: none !important;
}

/* CustomSelect.css */
.custom-select {
    width: 250px;
    margin: auto;
}

.custom-select select {
    appearance: none;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-select select:focus {
    outline: none;
    border-color: #007bff;
}

.custom-select .options {
    display: none;
    max-height: 135px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 8px;
    border-top: none;
    position: absolute;
    width: 58%;
    background-color: #fff;
    z-index: 1;
}

.custom-select .options.show {
    display: block;
}

.custom-select .option {
    padding: 10px;
    cursor: pointer;
}

.custom-select .option:hover {
    background-color: #f0f0f0;
}

.takeawayRecieptTable {
    margin: auto;
    width: 100%;
}

.takeawayRecieptTable-thead {
    border-bottom: 1px dashed black;
    width: 100%
}

.takeawayRecieptTable-th1 {
    text-align: left;
}

.takeawayRecieptTable-th2, .takeawayRecieptTable-th3 {
    text-align: center;
}

.takeawayRecieptTable-th4 {
    text-align: right;
}

.takeawayRecieptTable-tr {
    text-align: left;
}

.takeawayRecieptTable-td1 {
    text-align: left;
}

.takeawayRecieptTable-td2, .takeawayRecieptTable-td3 {
    text-align: center;
}

.takeawayRecieptTable-td4 {
    text-align: right;
}

.bill-subtotal {
    text-align: right;
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: monospace; 
}

.bill-nettotal {
    text-align: right;
    font-size: 17px;
    color: black;
    font-weight: bold;
    font-family: monospace; 
}

.bill-thankyou {
    text-align: right;
    font-size: 17px;
    color: black;
    font-weight: bold;
    font-family: monospace;
}


@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .section {
        width: 84% !important;
        min-height: 0px;
    }

    .formHeading {
        width: 250px;
    }
}
