.report-actions {
    display: flex;
    justify-content: space-between;
}

.report-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.report-type-dropdown {
    display: flex;
}

.report-label {
    display: flex;
    align-items: center;
}

.form-select-sm {
    width: auto !important;
    margin-left: 10px;
    background-color: black !important;
    color: white !important;
}

.report-img {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.form-select-sm {
    margin: auto;
}