.grid-item {
    width: 150px !important;
    height: 150px !important;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black !important;
    margin: 10px !important;
    padding: 0 !important;
    border-radius: 8px;
}

.grid-3-columns {
  overflow-y: auto;
  scroll-behavior: smooth;
  text-align: center;
}

.occupied {
  background-color: red;
}

.occupied a{
  color: white !important;
  }

.empty {
  background-color: greenyellow;
}